# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore


# folders/files to always ignore
.metadata
**/gensrc

#IDE files
.gradle
.idea
idea-module-files
*.iml
com.springsource.sts.config.flow.prefs
org.sonar.ide.eclipse.core.prefs
HybrisCodeGeneration.launch
hybris4intellij.properties

#Eclipse files
org.springframework.ide.eclipse.beans.core.prefs
org.springframework.ide.eclipse.core.prefs
.springBeans
eclipsebin

# NPM packages
**/node_modules

# Test classes
**/testclasses

# Generated jalo java files
**/jalo

# allow only custom extensions
**/hybris/bin/*
**/hybris/bin/custom/yb2bacceleratorstorefront/
!**/hybris/bin/custom/

# Folders to ignore at the root of the repository
installer
build-tools
hybris-sbg
licenses
SIGNATURE.SMF
README

**/hybris/roles/
**/hybris/log/
**/hybris/temp/
**/hybris/data/
**/hybris/config/orbeon
**/hybris/config/solr/
**/hybris/config/backup/

# Filename patterns to ignore
Generated*.java
platformhome.properties
local.properties
*testclasses.xml
*hmc.jar
hmc.xsd
items.xsd
beans.xsd
extensioninfo.xsd
ruleset.xml
*.log
.pmd
*build.number

#  Addon specific copy folders
**/_ui/addons
**/views/addons
**/tld/addons
**/tags/addons
**/messages/addons
**/web/addonsrc
**/_ui-src/addons
**/web/addontestsrc
**/web/commonwebsrc/*/

# Backoffice generated jars
*_bof.jar

# Commerce Ant generated files #
gensrc/
build.xml
*-testclasses.xml
*-webtestclasses.xml
*-hmctestclasses.xml
classes/
eclipsebin/

# Java generated files #
*.class
*.war
*.ear

# Maven
target/
dist/

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# Applications
*.app
*.exe

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

